table {
  border-spacing: 10px;
  margin-bottom: 5vh;
  margin-top: 2vh;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 8px;
  background-color: #00000070;
}
