.buttons {
  @media screen and (max-width: $mantine-breakpoint-md) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  display: block;
}

.button {
  padding: 10px 20px 10px 20px;
  border-radius: 12px;
  text-decoration: none;
  margin: 1vh;
  min-width: 220px;
}

.download {
  background-color: white;
  color: black;
}

.web {
  background-color: #010409;
  color: white;
}
