.featureContainer {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;

  @media screen and (min-width: $mantine-breakpoint-md) {
    display: flex;
    align-items: center;
  }
}

.reverse {
  @media screen and (max-width: $mantine-breakpoint-md) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.featureImage {
  width: 48vw;
  height: auto;
  margin: 20px;
  border-radius: var(--mantine-radius-md);
  &:hover {
    filter: scale(1.5);
  }
  transition: transform 0.2s;

  @media screen and (max-width: $mantine-breakpoint-md) {
    width: 100%;
    margin: 0;
  }
}
