.featureContainer {
  margin-top: 30px;
  margin-bottom: 30px;

  @media screen (max-width: $mantine-breakpoint-md) {
    display: flex;
    align-items: center;
  }
  display: block;
}

.reverse {
  @media screen (max-width: $mantine-breakpoint-md) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.featureImage {
  &:hover {
    filter: scale(1.5);
  }
  transition: transform 0.2s;
}
