.description {
  max-width: rem(600px);
  margin: auto;

  &::after {
    content: "";
    display: block;
    background-color: white;
    width: rem(45px);
    height: rem(2px);
    margin-top: var(--mantine-spacing-lg);
    margin-left: auto;
    margin-right: auto;
  }
}
